body {
  background-color: hsl(212, 45%, 89%);
}

p {
  font-size: 14px;
  font-family: 'Outfit', sans-serif;
  color: hsl(220, 15%, 55%);

}
.attribution {
  font-size: 11px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
  width: 17%;
  height: 85%;
  margin: 150px auto;
  padding: 15px;
  border-radius: 5%;
 }

 img {
   max-width: 100%;
    max-height: 100%;
    border-radius: 5%;
 }

attribution a {
  color: hsl(228, 45%, 44%);
 }

.motto {
  font-family: 'Outfit', sans-serif;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 18px;
}
